<div class="col-md-12">
    <p>
        <!--NEED CODE TO DISPLAY USER NAME -->
        DISPLAY USER REPLY HERE
    </p>
</div>

<style>
    #user_reply p{
        padding:1%;

    }
    #user_reply{
        margin-left: 15%;
        margin-right: 15%;
        border-right: solid gray 1px;
        border-left: solid gray 1px;
    }

</style>
