<div class="col-md-12">
    <p>
        <!--NEED CODE TO DISPLAY USER NAME -->
        DISPLAY USER POST HERE
    </p>
</div>

<style>
    #user_post p{
        margin-top: 2%;
       padding:1%;
    }
    #user_post{
        border-top: solid gray 1px;
        border-right: solid gray 1px;
        border-left: solid gray 1px;
        background-color: #ffeeb9;
        margin-left: 15%;
        margin-right: 15%;
    }

</style>