<!DOCTYPE html>
<html>
<head>
    <title>Write a Review - Svelar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/navigation.ejs%>

    <% include templates/secondaryheader.ejs%>

    <% include templates/searchbar.ejs%>

    <h1>About Us</h1>
    <hr>
    <img src="http://localhost:3000/images/style/about1.jpg">
    <h2>We are working towards reducing the gap between health professionals and patients so that everyone take their healthcare back in their hands.</h2>
    <pre><b>
        Would you ever buy a laptop or phone without researching about its features as
        well as any problems people have experienced with the device? So why would you
        spend hours on researching something that you will be using only for a few years,
        but fail to consider a medical product that you may have to live with for the rest of
        your life?</b>
    </pre>

    <pre>
        Svelar is dedicated to creating a space where patients can easily obtain reliable infor-
        mation about the medical products, including implantable and wearable devices, as well
        as peer reviews and references to other resources that will allow the patient to make
        informed decisions.
    </pre>
    <hr>

    <% include templates/footerbar.ejs%>
</body>
</html>