<!DOCTYPE html>
<html>
<head>
    <title>Write a Review - Svelar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/navigation.ejs%>

<% include templates/secondaryheader.ejs%>

<% include templates/searchbar.ejs%>

<% include templates/errormessages.ejs%>

    <h1>Contact Us</h1>
    <hr>
    <form method="post" action="/about/contact">
        <p>Reason for your message</p>
        <select name="reason" required>
            <option value="general">General inquiry about Svelar</option>
            <option value="account">Account or login issues</option>
            <option value="website">Report a website problem</option>
        </select>
        <p>Your message:</p>
        <input type="text" name="message" placeholder="(Please use as much detail as possible when asking your question or describing your problem)." required>
        <p>Your email</p>
        <input type="text" name="email" placeholder="“ex: email@email.com”" required>
        <p>To show that you are human and not a robot please type blue in the box</p>
        <input type="text" name="checkWord" required> <br>
        <button type="submit" value="send">Send</button>
        <a href="javascript:history.back()">Cancel</a>
    </form>

<% include templates/footerbar.ejs%>
</body>
</html>