<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/meta.ejs%>
    <% include templates/bootstrap.ejs%>
</head>
<body>
    <% include templates/navigation.ejs%>

    <div class="container-fluid">

        <% include templates/homeheader.ejs%>

        <% include templates/errormessages.ejs%>


        <!-- Sign up botton section -->

        <div class="row" id="third">
            <div id="free" class="col-md-12">
                <% if(!user){%>
                <a href="/users/signup">Sign up now (it's free!)</a>
                <% } %>
            </div>
        </div>

        <!--Value Proposition-->

        <div class="row" id="fourth">
            <div class="row" id="third_2">
                <div id="cust_quest" class="col-md-12">
                    <p>Do you wish it would be easier to find medical products or services?</p>

                </div>
            </div>
            <div class="row" id="third_3">
                <div id="cust_ans" class="col-md-12">
                    <p>We give you a single platform to find everything you need.</p>
                </div>
            </div>
            <div class="row">
                <div id="value_prop" class="col-md-4">
                    <p>
                        <img src="/images/style/easy_access_icon.png" />
                    <h4>Easy Access</h4>
                    Discover things that will make your life easier.
                    </p>
                </div>
                <div id="value_prop" class="col-md-4">
                    <p>
                        <img src="/images/style/reliable_icon.png" />
                    <h4>Reliable Information</h4>
                    Products that are verified by biomedical experts.
                    </p>
                </div>
                <div id="value_prop" class="col-md-4">
                    <p>
                        <img src="/images/style/review_icon.png" />
                    <h4>Share Your Opinion</h4>
                    We want to hear what you have to say.
                    </p>
                </div>
            </div>
        </div>

    <!-- Foteer picture -->
        <div class="row" id="fifth">
            <div id="login_foot_pic" class="col-md-12">
            </div>
        </div>

    <% include templates/footerbar.ejs %>

    </div>
  </body>
</html>
