<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/navigation.ejs%>

    <% include templates/homeheader.ejs%>

    <% include templates/logo.ejs%>

    <h1>Discover. Feel Better.</h1>

    <img src=“backgroung.jpeg” alt="This is a test pic" style="width:304px;height:228px;">


    <br>
    <% include templates/searchbar.ejs%>
    <br>

    <% include templates/errormessages.ejs%>


    <a href="/users/signup">Sign up now (it's free!)</a>


    <p>Do you wish it would be easier to find medical products or services?</p>
    <p>We give you a single platform to find everything you need.</p>

    <div class=“valueproposition”>
      <fieldset>
        <p>
          <img src=“test.png” alt="This is a test pic" style="width:304px;height:228px;">
          This will be the location of Value Proposition 1.
        </p>
        <p>
          <img src=“test.png” alt="This is a test pic" style="width:304px;height:228px;">
          This will be the location of Value Proposition 2.
        </p>
        <p>
          <img src=“test.png” alt="This is a test pic" style="width:304px;height:228px;">
          This will be the location of Value Proposition 3.
        </p>
      </fieldset>
      <hr/>
    </div>

    <img src=“foterimage” alt="This is a test pic" style="width:304px;height:228px;">

    <% include templates/footerbar.ejs%>

  </body>
</html>
