<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <% include templates/meta.ejs%>
    <% include templates/bootstrap.ejs%>
</head>
<body>
    <% include templates/navigation.ejs%>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row" id="home_header">
            <% include index/home_header.ejs%>
        </div>
        <!-- Cover with search bar-->
        <div class="row" id="home_cover">
            <% include index/home_cover.ejs%>
        </div>
        <% include templates/errormessages.ejs%>
        <!-- Sign up button section -->
        <div class="row" id="sign_up_button">
            <% include index/sign_up_button.ejs%>
        </div>
        <!-- Categories section -->
        <div class="row" id="categories_section">
            <% include index/categories_section.ejs %>
        </div>
        <!--Value Proposition-->
        <div class="row" id="value_proposition">
            <% include index/value_proposition %>
        </div>
        <!-- Footer cover-->
        <div class="row" id="home_footer">
            <% include index/home_footer.ejs%>
        </div>
        <% include templates/footerbar.ejs %>
    </div>
  </body>
</html>
