<!DOCTYPE html>
<html>
<head>
    <title><%= stuff[0].name %> - Svelar </title>
    <link rel='stylesheet' href='/stylesheets/item.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/secondaryheader.css' />
    <%include templates/meta.ejs%>
    <%include templates/bootstrap.ejs%>
</head>
    <body>
        <div class="container-fluid">
            <% include templates/secondary_header.ejs%>

            <% include templates/errormessages.ejs%>

            <div class="row" id="third">
                <% include item/item_section.ejs%>
            </div>

            <!-- Reviews section-->
            <div class="row" id="fourth">
                <% include item/reviews_section.ejs %>
            </div>

            <% include templates/footerbar.ejs%>
        </div>
    </body>
</html>