<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/secondaryheader.css' />
    <%include templates/meta.ejs%>
    <%include templates/bootstrap.ejs%>
</head>
<body>
<% include templates/navigation.ejs%>
<div class="container-fluid">

    <% include templates/secondary_header.ejs%>
    <% include templates/errormessages.ejs%>


    <div class="row" id="third">
        <h1>Log In to Svelar</h1>
        <div class="row" id="new_link">
            <div class="col-md-12">
                <h4>New to Svelar? <a href="/users/signup">Sign Up</a></h4>
            </div>
        </div>
        <p>By logging in, you agree to Svelar's <a>Terms of Service</a> and <a>Privacy Policy</a>.</p>
    </div>

    <!-- FB Login form -->
    <div class="row" id="fourth">
        <div id="facebook_login" class="col-md-12">
            <p>Need to install FB SDK and implent w/ JavaScript</p>
            <p>--------------------- OR -----------------------</p>
        </div>
    </div>

    <!-- Login form -->
    <div class="row" id="fifth">
        <div class="col-md-12">
            <% if(h){ %>
                <form action="/users/login?h=<%= h %>" method="post" id="login_form">
                <%}else{ %>
                        <form action="/users/login" method="post" id="login_form">
                    <% } %>
                    <fieldset class="login_form">
                        <input type="text" name="username" placeholder="Email or username" required>
                        <br>
                        <input type="password" name="password" placeholder="Password" required>
                        <br>
                        <p><a>Forgot password?</a></p>
                        <input type="submit" value="Login"></input>
                        <br>
                        <p>New to Svelar? <a href="/users/signup">Sign up</a></p>
                    </fieldset>
                </form>
        </div>
    </div>

    <% include templates/footerbar.ejs%>

</div>

</body>
</html>