<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/navigation.ejs%>

    <% include templates/userheader.ejs%>

    <% include templates/logo.ejs%>

    <br>
    <% include templates/searchbar.ejs%>
    <br>

    <h1>Profile</h1>

    <% include templates/footerbar.ejs%>

</body>
</html>