<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>Profile page</p>
<p> Hello <%= user.name %> <%= user.lastname %>, your username is "<%=user.username%>"</p>

</body>
</html>