<!DOCTYPE html>
<html>
<head>
    <title>Svelar-Recommend</title>
    <link rel='stylesheet' href='/stylesheets/recommend.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/secondaryheader.css' />
    <%include templates/meta.ejs%>
    <%include templates/bootstrap.ejs%>
</head>
<body>
<% include templates/navigation.ejs%>
<div class="container-fluid">
    <% include templates/secondary_header.ejs%>

    <div class="row" id="third">
        <div id="recommend_title" class="col-md-12">
            <p>Suggest A Product Or Service</p>
        </div>
    </div>

    <div class="row" id="fourth">
        <div id="your_suggestion" class="col-md-12">
            <p>Your Suggestions</p>
        </div>
    </div>

    <form action="xxxxxx" method="post">

        <div class="row" id="fifth">
            <div id="name_col" class="col-md-12">
                <div class="row" id="fifth_one">
                    <div id="name_prod" class="col-md-12">
                        <p>Name Of Product Or Service:</p>
                    </div>
                </div>
                <div class="row" id="fifth_two">
                    <div id="name_input" class="col-md-12">
                        <input type="text" name="name of product" placeholder="Name of the item (device, website, app, service, etc.)" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="sixth">
            <div id="website_col" class="col-md-12">
                <div class="row" id="sixth_one">
                    <div id="website_prod" class="col-md-12">
                        <p>Web Link:</p>
                    </div>
                </div>
                <div class="row" id="sixth_two">
                    <div id="website_input" class="col-md-12">
                        <input type="url" name="name of product" placeholder="Please paste a web link for the item to help us better locate it." required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="seventh">
            <div id="comment_col" class="col-md-12">
                <div class="row" id="seventh_one">
                    <div id="comment_prod" class="col-md-12">
                        <p>Comments:</p>
                    </div>
                </div>
                <div class="row" id="seventh_two">
                    <div id="comment_input" class="col-md-12">
                        <textarea type="text" name="name of product" placeholder="Share any comments you may have regarding this item." required></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="eighth">
            <div id="suggest_bottom" class="col-md-12">
                <div class="row" id="eighth_one">
                    <div id="suggest_button" class="col-md-12">
                        <button type="submit" value="Review" id="suggest_button">Suggest</button>
                        <a href="/">Cancel</a>
                    </div>
                </div>
                <div class="row" id="eight_two">
                    <div id="suggest_disc" class="col-md-12">
                        <p>* All suggestions will be reviewed by biomedical experts.</p>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <% include templates/footerbar.ejs%>
</div>
</body>
</html>