<!DOCTYPE html>
<html>
<head>
    <title>Svelar - search</title>
    <link rel='stylesheet' href='/stylesheets/search.css' />
    <%include templates/meta.ejs%>
    <%include templates/bootstrap.ejs%>
</head>
    <body>
        <% include templates/navigation.ejs%>
        <div class="container-fluid">
            <!-- Header -->
            <div class="row" id="header">
                <% include templates/secondary_header.ejs%>
            </div>

            <!-- This is the search description-->
            <div class="row" id="search_description">
                <% include search/search_description.ejs %>
            </div>

            <!-- Results list section -->
            <% if (rows > 0) {%>
            <% for(var i=0; i<=rows-1; i++) {%>
                <div class="row" id="fourth">
                    <% include search/list_items.ejs %>
                </div>
                <hr id="hairline" noshade>
            <% }%>
            <%}else {%>
                <p>Results not found! Try to search with different words.</p>
            <%}%>

            <!-- link pages section -->
            <div class="row" id="fifth">
                <% include search/pages_links %>
            </div>

            <% include templates/footerbar.ejs%>
        </div>
    </body>
</html>