<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/navigation.ejs%>

    <% include templates/homeheader.ejs%>

    <% include templates/logo.ejs%>

    <% include templates/errormessages.ejs%>

    <div class="container">
        <form action="/users/signup" method="post">
            <fieldset>
                <h1>Sign Up for Svelar</h1>
                <input type="text" name="name" placeholder="First Name" required>
                <input type="text" name="lastname" placeholder="Last Name" required>
                <br>
                <input type="email" name="email" placeholder="Email" required>
                <br>
                <input type="password" name="password" placeholder="Password" required>
                <br>
                <input type="password" name="passwordMatch" placeholder="Re-type Password"  required>
                <br>
                <label for="birthday">Birthday Optional</label> <br>
                <input type="date" name="birthday" max="2017-12-31" min="1901-01-01">
                <p>By signing up, you have agree to Svelar's Terms of Service and Privacy Policy.</p>
                <button type="submit" value="Sign Up">Sign Up</button>
            </fieldset>
        </form>
        <p>Already on Svelar?
            <% if(h){ %>
                <a href="/users/login?h=<%= h %>">Log in</a></p>
            <% }else{ %>
                <a href="/users/login">Log in</a></p>
            <% } %>
    </div>

    <% include templates/footerbar.ejs%>

</body>
</html>