<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/secondaryheader.css' />
    <%include templates/meta.ejs%>
    <%include templates/bootstrap.ejs%>
</head>
<body>
<% include templates/navigation.ejs%>
<div class="container-fluid">

    <% include templates/secondary_header.ejs%>
    <% include templates/errormessages.ejs%>

    <div class="row" id="third">
        <h1>Sign up for Svelar</h1>
        <p>By logging in, you agree to Svelar's <a href="http://localhost:3000/documents/Terms_and_Services.txt">Terms of Service</a> and <a href="http://localhost:3000/documents/Privacy_Agreement.txt">Privacy Policy</a>.</p>
    </div>

    <!-- FB Login form -->
    <div class="row" id="fourth">
        <div id="facebook_login" class="col-md-12">
            <p>Need to install FB SDK and implent w/ JavaScript</p>
            <p>--------------------- OR -----------------------</p>
        </div>
    </div>

    <!-- Signup form -->
    <div class="row" id="fifth">
        <div class="col-md-12">
            <form action="/users/signup" method="post">
                <div class="row" id="new_fillout_1">
                    <div id="name" class="col-md-12">
                        <input type="text" name="name" placeholder="First Name" id="first_name" required>
                        <input type="text" name="lastname" placeholder="Last Name" id="last_name" required>
                    </div>
                </div>
                <!--
                <div class="row" id="new_fillout_2">
                    <div id="gender_select" class="col-md-12">
                        <input type="radio" name="gender" value="male" id="male_select"> Male
                        <input type="radio" name="gender" value="female" id="female_select"> Female
                    </div>
                </div>
                -->
                <div class="row" id="new_fillout_3">
                    <div id="birthday" class="col-md-12">
                        Birthday: <input type="date" name="birthday" required>
                    </div>
                </div>
                <div class="row" id="new_fillout_6">
                    <div id="email" class="col-md-12">
                        <input type="text" name="username" placeholder="Username" id="email_type" required>
                    </div>
                </div>
                <div class="row" id="new_fillout_4">
                    <div id="email" class="col-md-12">
                        <input type="email" name="email" placeholder="Email" id="email_type" required>
                    </div>
                </div>
                <div class="row" id="new_fillout_5">
                    <div id="password" class="col-md-12">
                        <input type="password" name="password" placeholder="Password" minlength="8" required>
                        <input type="password" name="passwordMatch" placeholder="Re-type Password"  required>
                    </div>
                </div>
                <div class="row" id="new_fillout_6">
                    <div id="submit" class="col-md-12">
                        <button type="submit" value="Sign Up" id="signup_button">Sign Up</button>
                        <p>Already in Svelar? <a href="/users/login">Log in</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- Fifth row close -->

    <% include templates/footerbar.ejs%>

</div>

</body>
</html>