<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/meta.ejs%>
    <% include templates/bootstrap.ejs%>
</head>
<body>
    <% include templates/navigation.ejs%>

    <div class="container-fluid">
        <form action="/test" method="post">
                    Birthday: <input type="date" name="birthday" max="" min="1901-01-01" required>
                    <button type="submit" value="Sign Up" id="signup_button">Sign Up</button>
        </form>
    </div>

</body>
</html>

