<div class=“bottom”>
    <fieldset>
        <a href=“http://www.svelar.com/about/“>About</a>
        <a href=“http://www.svelar.com/contact/“>Contact</a>
        <a href=“http://www.svelar.com/careers/“>Careers</a>
    </fieldset>
</div>