<div class="row" id="sixth"> <!-- Sixth row beings-->
    <div id="about" class="col-md-6">
        <div class=“bottom”>
            <a href="/about">About Svelar</a> |
            <a href="/about/contact">Contact us</a>
        </div>
    </div>
    <div id="social" class="col-md-6">
        <div id="toolbox" class="addthis_inline_follow_toolbox">
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592e0589b944061d"></script>
        </div>
    </div>
    <p>&copy Svelar 2017</p>
</div>
