<div class="row" id="first">
    <div class="row" id="first_1">
        <div id="review_home" class="col-md-6">
            <a href="search.ejs">Write a Review</a>
        </div>
        <div id="login_header" class="col-md-6">
            <% if (!user){%>
            <a href="/users/signup" id="signup_home">Signup</a>
            <a href="/users/login" id="login_home">Login</a>
            <% }else{ %>
            <a href="/profile">profile</a>
            <a href="/users/logout">Logout</a>
            <% } %>
        </div>
    </div>
</div>


<div class="row" id="second">
    <div class="row" id="second_1">
        <div id="comp_name" class="col-md-12">
            <p>Svelar</p>
        </div>
    </div>
    <div class="row" id="second_2">
        <div id="motto" class="col-md-12">
            <p> Discover. Feel Better.</p>
        </div>
    </div>
    <div class="row" id="second_3">
        <div id="search" class="col-md-12">
            <%include searchbar.ejs%>
        </div>
    </div>
</div>
