<div class=“search”>
    <form action="/search" method='post' enctype="multipart/form-data">
        <fieldset>
            <p> Please Choose a Condition:
                <select name='condition'>
                    <option value='diabetes'>Diabetes</option>
                    <option value=“test”>Test</option>
                </select>
            </p>
            <br>
            <label for="mySearch">What we find for you?</label>
            <input type='text' name='mySearch'  size=“30” maxlength=“60 >
            <br>
            <button type='submit' value="My Search">Search</button>
        </fieldset>
    </form>
</div>