<div class=“search”>
    <form action="/search" method='post' enctype="multipart/form-data">
        <fieldset>
            <div id="bar">
                <input type='text' name='mySearch'  size=“300” maxlength=“600" placeholder="Search for devices, books, apps, etc." />
            </div>
            <div id="condition">
                <select name='condition'>
                    <option value='diabetes'>Diabetes</option>
                    <option value=“test”>Test</option>
                </select>
                <div id="button">
                    <button type='submit' value="My Search"><img src="/images/style/search_icon.png"></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>