<!-- Header with search bar -->
<div class="row" id="first">
    <div id="logo" class="col-md-2">
        <p>Svelar</p>
    </div>
    <div id="search" class="col-md-8">
        <p><% include searchbar.ejs%></p>
    </div>
    <div id="signup" class="col-md-2">
        <p>
            <% if(user){ %>
            <a href="/profile">profile</a>
            <% }else{ %>
            <a href="/users/signup">Sign up</a>
            <% } %>
        </p>
    </div>
</div>

<!-- second row with navication -->
<div class="row" id="second">
    <div id="suggest" class="col-md-6">
        <a href="/">Home</a>
        <a href="/review/recommend">Recommend a products</a>
    </div>
    <div id="login" class="col-md-6">
        <p>
            <%if(user){%>
            <a href="/users/logout">Logout</a>
            <%}else{%>
            <a href="/users/login">Log in</a>
            <%}%>
        </p>
    </div>
</div>