<div id="login_foot_pic" class="col-md-12"></div>

<style>
    #login_foot_pic{
        border-top: solid #676767 1px;
        background-image: url("http://localhost:3000/images/style/home-foter.png");
        height: 300px;
        background-position: 0% 10%;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
