<div class="col-md-12">
    <p class="question">Do you wish it would be easier to find medical products or services?</p>
</div>
<div class="col-md-12">
    <p class="answer">We give you a single platform to find everything you need.</p>
</div>
<div class="col-md-4">
    <div class="value">
        <p>
            <img src="/images/style/easy_access_icon.png" />
        <h4>Easy Access</h4>
        Discover things that will make your life easier.
        </p>
    </div>
</div>
<div  class="col-md-4">
    <div class="value">
        <p>
            <img src="/images/style/reliable_icon.png" />
        <h4>Reliable Information</h4>
        Products that are verified by biomedical experts.
        </p>
    </div>
</div>
<div  class="col-md-4">
    <div class="value">
        <p>
            <img src="/images/style/review_icon.png" />
        <h4>Share Your Opinion</h4>
        We want to hear what you have to say.
        </p>
    </div>
</div>

<style>
    #value_proposition .question{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 170%;
        text-align: center;
        padding: 1%;

    }
    #value_proposition .answer{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 170%;
        text-align: center;
        color:#f15a22;
    }

    #value_proposition .value img{
        float: left;
        border-radius: 100%;
        height: 97px;
        width: 97px;
        margin-right: 5%;
    }
    #value_proposition .value {
        float: left;
        color: black;
        font-size: 14pt;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 3%;
    }
    #value_proposition .value h4{
        color: #f15a22;
        font-weight: bold;
        font-size: 16pt;
    }

    #value_proposition .value img{
        float: left;
        border-radius: 100%;
        height: 20%;
        width: 20%;
    }
</style>