#third{
    background-color: #ffeeb9;
    padding-top: 20px;
    padding-bottom: 20px;
}

#svelar p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #0096b2;
    text-align: center;
    width: 100%;
    font-size: 16px;
}
#item_name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0096b2 ;
    margin-bottom: 20px;
}
#ad p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: goldenrod;
    text-align: center;
    width: 100%;
    font-size: 16px;
}
#item_name_reg{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0096b2 ;
}
#prod_image_1 {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-right: 12px;
    margin-left: 12px;
}
#prod_image_1 img{
    position: absolute;
    margin: auto;
    max-height: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    background-color: white;
}
#review_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#review_button a, #review_buttona a:visited{
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
#review_button a:hover, #review_buttona a:active{
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
#like_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#like_button a, #like_button a:visited{
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
#like_button a:hover, #like_button a:active{
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
#ratings p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
}
#ratings span{
    color:rgb(241, 90, 34) ;
    font-size: 25px;
    padding: 1%;
}
#keywords{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-top: 2%;
}
#description{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 40px;
}
#buy{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#fourth{
    min-height: 200px;
    margin-bottom: 12px;
}
#user_review em{
    color: #0096b2;
    font-weight: bold;
}
#stars span{
//color:rgb(241, 90, 34) ;
    font-size: 20px;
    color: rgb(241, 90, 34);
}


