#first {
    background-color:#45c2c9;
}
#logo{
    font-family: fantasy;
    font-size: 290%;
    padding-top:1%;
    padding-left: 2%;
}
.“search”{
    text-align: center;
    white-space: nowrap;
    font-size: 120%;
    margin-bottom: 1%;
    margin-top: 0%;
    float: left;
    border: solid rgb(241, 90, 34) 2px;

}
.“search” *{
    display:inline;
}
.“search” input{
    width: 650px;
}
.“search” select{
    font-size: 95%;
    width:200px;
}

#search{
    background-color: #45c2c9;
    padding-top: 1.75%;

}
#signup{
    padding:2%;
}
#signup a{
    background-color: #0096b2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    float: right;
    border: solid #0096b2 1px;
    padding: 1%;

}
#second{
    background-color: #0096b2;
}
#suggest{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#suggest a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
}
#login{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#login a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    float: right;
    padding-right: 3%;
}
#third{
    background-color: #ffeeb9;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding-top: 1%;
}
#svelar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;

}
#svelar p{
    background-color: #0096b2;
    text-align: center;
    width: 28%;
    float: right;
}
#item_name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
}
#prod_image_1 img{
    border: solid #0096b2 1px;
}
#prod_image_2 img{
    border: solid #0096b2 1px;
}
#review_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#review_button p{
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 10%;
}
#like_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#like_button p{
    width: 60%;
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 10%;
    float: right;
}
#dislike_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#dislike_button p{
    width: 60%;
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 10%;
}
#ratings{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-top: 2%;
}
#ratings p{
    font-weight: 600;
    border: solid #0096b2 1px;
    width: 40%;
    padding: 1%;
}
#ratings span{
    color:rgb(241, 90, 34) ;
    font-size: 19px;
    padding: 1%;
}
#keywords{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-top: 2%;
}
#description{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-bottom: solid rgb(241, 90, 34) 1px;
    padding: 1%;
}
#buy{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    border-bottom: double rgb(241, 90, 34) 7px;
    padding-top: 0.5%;
}
#sixth{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #ffeeb9;
    padding: 1%;
}
#review_1 p{
    border-top: solid #0096b2 1px;
    border-bottom: solid #0096b2 1px;
    overflow: scroll;
}
#review_2 p{
    border-top: solid #0096b2 1px;
    border-bottom: solid #0096b2 1px;
    overflow: scroll;
}
#review_3 p{
    border-top: solid #0096b2 1px;
    border-bottom: solid #0096b2 1px;
    overflow: scroll;
}
#seventh{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: solid black 1px;
    padding: 1%;
}
#sponsor_pic{
    border: solid rgb(241, 90, 34) 1px;
}
#ad p{
    background-color: #d4af37;
    text-align: center;
    color: white;
}
#ad_name{
    font-size: 16px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
}
#ad_rating{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#ad_rating span{
    color:#0096b2 ;
    font-size: 12px;
    padding: 1%;
}
#ad_buttons_like{
    width: 20%;
    background-color: rgb(241, 90, 34);
    text-align: center;
    border-radius: 10%;
    padding: 0.5%;
    margin-left: 0.5%;
}
#ad_buttons_like a{
    color: white;
}
#ad_buttons_dislike{
    width: 20%;
    background-color: rgb(241, 90, 34);
    text-align: center;
    border-radius: 10%;
    padding: 0.5%;
    margin-left: 0.5%;
}
#ad_buttons_dislike a{
    color: white;
}
#ad_button_review{
    width: 40%;
    background-color: rgb(241, 90, 34);
    text-align: center;
    border-radius: 10%;
    padding: 0.5%;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
#ad_button_review a{
    color: white;
}
#ad_desc{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow:scroll;
}
#eighth{
    background-color: #45c2c9;
}
#eighth p{
    text-align: center;
}
#about{
    float: left;
}
#toolbox{
    float: right;
}