#third{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffeeb9;
    height: 80px;
}
#search_word{
    margin-top: 20px;
}
#showing{
    margin-top: 30px;
}
#fourth{
    margin-top: 25px;
    margin-bottom: 25px;
}
#svelar p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #0096b2;
    text-align: center;
    width: 110px;
    float: left;
    font-size: 16px;
}
#ad p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: goldenrod;
    text-align: center;
    width: 110px;
    float: left;
    font-size: 16px;
}
#item_name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
}
#item_name_reg{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
}

#prod_image_1 img{
    margin: auto;
    display: block;
    height: 200px;
    max-width: 226px;
}

#prod_image_1 img.scaledUp{
    max-width: 226px;
}
#like_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#likes_button a, #likes_button a:visited{
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    width: 100px;
    height: 23px;
    margin-top: 10px;
}
#likes_button a:hover, #likes_button a:active{
    background-color: red;
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    width: 100px;
    height: 23px;
    margin-top: 10px;
}
#review_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}
#review_button a, #review_button a:visited{
     background-color: rgb(241, 90, 34);
     color: white;
     text-align: center;
     border: solid #0096b2 1px;
     border-radius: 5%;
     display: inline-block;
     text-decoration: none;
     margin-right: 10px;
     width: 92%;
     height: 23px;
     margin-top: 10px;
 }
#review_button a:hover, #review_button a:active{
    background-color: red;
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    width: 92%;
    height: 23px;
    margin-top: 10px;
}
#ratings{
    padding-left: 30px;
}
#ratings p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
#ratings span{
    //color:rgb(241, 90, 34) ;
    font-size: 25px;
    color: gold;
}
#short_desc{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-left: 30px;
}
#short_desc p{
    width:1500px;
    height:50px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#fifth{
    padding-top: 0.5%;
}
#page_number{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#page_links{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#page_links p{
    float: right;
}

#hairline{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 200px;
    margin-right: 200px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #45c2c9;
}
#fifth{
    margin-top: 15px;
    margin-bottom: 15px;
}
#page_number p{
    padding-top: 12px;
    font-size: 18px;
    color: cornflowerblue;
}
#pages{
    font-size: 18px;
    margin-right: 10px;
}

