#first {
    background-color:#45c2c9;
}
#logo{
    font-family: Papyrus, fantasy;
    font-size: 290%;
    padding-top:1%;
    padding-left: 2%;
}
.“search”{
    text-align: center;
    white-space: nowrap;
    font-size: 120%;
    margin-bottom: 1%;
    margin-top: 0%;
    float: left;
    border: solid rgb(241, 90, 34) 2px;
}
.“search” *{
    display:inline;
}
.“search” input{
    width: 650px;
}
.“search” select{
    font-size: 95%;
    width:200px;
}

#search{
    background-color: #45c2c9;
    padding-top: 1.75%;

}
#signup{

}
#signup a{
    background-color: #0096b2;
    color: white;
    border: solid white 1px;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-right: 6%;
}
#signup a:hover{
    background-color: #f44336;
    color: white;
    border: solid white 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-right: 6%;
}
#second{
    background-color: #0096b2;
}
#suggest{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#suggest a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 2%;
}
#login{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#login a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    float: right;
    padding-right: 3%;
}
#third{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffeeb9;
    height: 80px;
}
#search_word{
    margin-top: 20px;
}
#showing{
    margin-top: 30px;
}
#fourth{
    margin-top: 25px;
    margin-bottom: 25px;
}
#svelar p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #0096b2;
    text-align: center;
    width: 110px;
    float: left;
    font-size: 16px;
}
#ad p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: goldenrod;
    text-align: center;
    width: 110px;
    float: left;
    font-size: 16px;
}
#item_name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
}
#item_name_reg{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
}
#prod_image_1 img{
    margin: auto;
    display: block;
    height: 200px;
}

#prod_image_1 img.scaledUp{
    max-width: 226px;
}
#like_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#likes_button a, #likes_button a:visited{
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    width: 100px;
    height: 23px;
    margin-top: 10px;
}
#likes_button a:hover, #likes_button a:active{
    background-color: red;
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    width: 100px;
    height: 23px;
    margin-top: 10px;
}
#review_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}
#review_button a, #review_button a:visited{
     background-color: rgb(241, 90, 34);
     color: white;
     text-align: center;
     border: solid #0096b2 1px;
     border-radius: 5%;
     display: inline-block;
     text-decoration: none;
     margin-right: 10px;
     width: 91%;
     height: 23px;
     margin-top: 10px;
 }
#review_button a:hover, #review_button a:active{
    background-color: red;
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 5%;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    width: 91%;
    height: 23px;
    margin-top: 10px;
}
#ratings{
    padding-left: 30px;

}
#ratings p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
#ratings span{
    color:rgb(241, 90, 34) ;
    font-size: 25px;
}
#short_desc{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-left: 30px;
}
#short_desc p{
    width:1500px;
    height:50px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#fifth{
    padding-top: 0.5%;
}
#page_number{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#page_links{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#page_links p{
    float: right;
}

#hairline{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 380px;
    margin-right: 380px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #45c2c9;
}