#first {
    background-color:#45c2c9;
}
#logo{
    font-family: Papyrus, fantasy;
    font-size: 290%;
    padding-top:1%;
    padding-left: 2%;
}
.“search”{
    text-align: center;
    white-space: nowrap;
    font-size: 120%;
    margin-bottom: 1%;
    margin-top: 0%;
    float: left;
    border: solid rgb(241, 90, 34) 2px;
}
.“search” *{
    display:inline;
}
.“search” input{
    width: 650px;
}
.“search” select{
    font-size: 95%;
    width:200px;
}

#search{
    background-color: #45c2c9;
    padding-top: 1.75%;

}
#signup{

}
#signup a{
    color: white;
    border: solid white 1px;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-right: 6%;
}
#signup a:hover{
    background-color: #f44336;
    color: white;
    border: solid white 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-right: 6%;
}
#second{
    background-color: #0096b2;
}
#suggest{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#suggest a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 2%;
}
#login{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#login a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    float: right;
    padding-right: 3%;
}
#third{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffeeb9;
}
#showing{
    padding-top:1%;
}
#fourth{
    padding-top:1%;
}
#content_prod{

}
#svelar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    padding: 1%;

}
#svelar p{
    background-color: #0096b2;
    text-align: center;
    width: 35%;
    float: right;
}


#item_name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
    padding: 1%;
}
#prod_image_1{
    padding: 0.5%;
}
#prod_image_1 img{
    border: solid #0096b2 1px;
    width: 80%;
}
#review_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;

}
#review_button p{
    width: 100%;
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 10%;
}
#like_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;


}
#like_button p{
    width: 100%;
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 10%;
}
#dislike_button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#dislike_button p{
    width: 100%;
    background-color: rgb(241, 90, 34);
    color: white;
    text-align: center;
    border: solid #0096b2 1px;
    border-radius: 10%;
}
#ratings{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 2%;
}
#ratings p{
    font-weight: 600;
    width: 100%;
    padding: 1%;
}
#ratings span{
    color:rgb(241, 90, 34) ;
    font-size: 19px;
    padding: 1%;
}
#short_desc{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 2%;
    overflow: hidden;
}
#ad{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    padding: 1%;
}
#ad p{
    background-color: #d4af37;
    text-align: center;
    width: 35%;
    float: right;
}
#item_name_reg{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0096b2 ;
    text-decoration: underline;
    padding: 1% 1% 1% 18%;
}
#fifth{
    padding-top: 0.5%;
}
#page_number{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#page_links{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#page_links p{
    float: right;
}
#sixth{
    background-color: #45c2c9;
    border-top: solid black 1px;
}
#sixth p{
    text-align: center;
}
#about{
    float: left;
}
#toolbox{
    float: right;
}