#first {
    background-color:#45c2c9;
}
#logo{
    font-family: Papyrus, fantasy;
    font-size: 290%;
    padding-top:1%;
    padding-left: 2%;
}
#search_bar{
    text-align: right;
    background-color: white;
    width: 680px;
    height: 40px;
    border-radius: 10px;
    font-size: 18pt;
    margin-top: 23px;
}
#search_bar input[type="text"],#search_bar input[type="text"]:focus {
    width: 380px;
    height: 34px;
    font-size: 16pt;
    border-color: transparent;
    outline: none;
    border-radius: 10px;

}
#search_bar select, #search_bar select:focus {
    font-size: 16pt;
    width: 200px;
    height: 34px;
    border-color: transparent;
    outline: none;
}
#search_bar input[type="submit"]{
    width: 65px;
    background-image: url("http://localhost:3000/images/style/search_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 15px;
    border: none;
}
#signup{

}
#signup a{
    background-color: #0096b2;
    color: white;
    border: solid white 1px;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-right: 6%;
}
#signup a:hover{
    background-color: #f44336;
    color: white;
    border: solid white 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-right: 6%;
}
#second{
    background-color: #0096b2;
}
#suggest{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#suggest a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 2%;
}
#login{
    padding-top:0.5%;
    padding-bottom: 0.5%;
}
#login a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    float: right;
    padding-right: 3%;
}