#first{
  background-color: #0096b2;
  height: 60px;
  padding: 1%;
}
#review_home a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  padding: 0.5%;
}
#login_header a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  padding: 0.5%;
  margin-left: 1%;
  float: right;
}
#signup_home:hover{
  background-color: #f44336;
  color: white;
  border: solid white 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#signup_home{
  color: white;
  border: solid white 1px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#second{
  background-image: url("http://localhost:3000/images/style/home_header_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:3%;
}
#comp_name{
  font-family: Papyrus, fantasy;
  font-size: 72px;
  text-align: center;
  padding-top:1%;
}
#motto.col-md-12{
  background-color: rgba(69, 194, 201, 0.6);
  text-align: center;
  margin-bottom: 3%;
}
#motto{
  font-family: Papyrus;
  color:white;
  font-size: 32px;
  font-weight: 900;
  padding-top: 1%;
}
#search{
  padding-top:3%;
}
.“search”{
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-size: 140%;

}
.“search” *{
  display:inline;
}
.“search” input{
  width: 800px;

}
.“search” select{
  font-size: 80%;
  width: 200px;
}
#free{
  padding: 2%;
  font-size: 18px;
  text-align: center;
}
#free a:link, a:visited{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  background-color: #f15a22;
  padding: 0.7%;
  border: solid black 0.5px;
  border-radius: 8%;
  text-decoration: none;
}
#free a:hover, a:active{
  background-color: #f44336;
  color: white;
}
#third{
  border-bottom: solid 1px;
}

#cust_quest{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 170%;
  text-align: center;
  padding: 1%;

}
#cust_ans{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 170%;
  text-align: center;
  color:#f15a22;
}

#value_prop img{
  float: left;
  border-radius: 100%;
  height: 20%;
  width: 20%;
  height: 97px;
  width: 97px;
  margin-right: 5%;
}

#value_prop{
  float: left;
  color: black;
  font-size: 14pt;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 3%;
}
#value_prop h4{
  color: #f15a22;
  font-weight: bold;
  font-size: 16pt;
}

#value_prop1 img{
  float: left;
  border: solid #f15a22 1px ;
  border-radius: 100%;
  height: 20%;
  width: 20%;
}
#value_prop1{
  float: left;
  background-color:rgb(69, 194, 201) ;
  color: black;
  font-size: 100%;
  margin-bottom: 2%;
  margin-left:0%;

}
#value_prop1 h4{
  color: white;
}
#login_foot_pic{
  border-top: solid #676767 1px;
  background-image: url("http://localhost:3000/images/style/home-foter.png");
  height: 300px;
  background-position: 0% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
#sixth{
  background-color: #45c2c9;
  height: 180px;
}

#about{
  color: white;
  margin-top: 60px;
}
#toolbox{
  margin-top: 60px;
}