<div class="col-xs-4"></div>
<div class="col-xs-4">
    <div id="">
        <p><span id="tag_svelar">Svelar</span> are the coolest items we have on the site. Check them out!</p>
    </div>
</div>
<div class="col-xs-4"></div>

<style>
    #svelar_description{
        margin-top: 1%;
    }
    #tag_svelar{
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        color: white;
        font-size: 16px;
        background-color: #0096b2;
    }
</style>

<script>

</script>