<!--------------------------- Categories block ------------->
<div class="row">
    <div class="col" id="categories_first_text">
        <p id="categories_first_line"  class="text-center">Start finding things now</p>
        <p id="categories_second_line" class="text-center">by Category</p>
    </div>
</div>
<div class="row text-center no-gutters">
    <div class="col" id="category_item">
        <a class="btn btn-primary" href="/search/try?field=diabetes&category=Food&page=1" role="button">Food</a>
    </div>
    <div class="col" id="category_item">
        <a class="btn btn-primary" href="/search/try?field=diabetes&category=Education&page=1" role="button">Education</a>
    </div>
    <div class="col" id="category_item">
        <a class="btn btn-primary" href="/search/try?field=diabetes&category=Self%20Management&page=1" role="button">Self Management</a>
    </div>
    <div class="col" id="category_item">
        <a class="btn btn-primary" href="/search/try?field=diabetes&category=Physical%20Exercise&page=1" role="button">Physical Exercise</a>
    </div>
    <div class="col" id="category_item">
        <a class="btn btn-primary" href="/search/try?field=diabetes&category=Apparel&page=1" role="button">Apparel</a>
    </div>
</div>

<!--------------------------- Categories block ------------->
<style>
    #categories_first_text{
        background-color: #DCDCDC;
    }
    #category_item{
        background-color: #0096b2;
    }
    #category_item a{
        width: inherit;
        border-width: 4px;
        font-weight: bold;
    }
    #categories_first_line{
        margin-top: 2%;
        font-size: 20pt;
        font-weight: bold;
    }
    #categories_second_line{
        font-size: 20pt;
        color: #0096b2;
    }
</style>