<!------------ Share to people block ------------------>

<div class="row no-gutters text-center">
    <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
        <img id="share_image" class="img-fluid" alt="Responsive image" src="/images/style/index_share.jpg">
    </div>
    <div class="col" id="share_text_block">
        <h3 id="share_first_line">You can help other patients find cool things</h3>
        <a href="/review/recommend" id="share_second_line">Click here to share a product with everybody</a>
    </div>
</div>

<!------------ Share with people block ------------------->
<style>
    #share_image{
        max-width: 100%;
    }
    #share_text_block{
        background-color: #f15a22;
        text-align: center;
    }
    #share_first_line{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15pt;
        color: white;
    }
    #share_second_line{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15pt;
        color: #45c2c9;
    }
    @media (min-width: 991px) { /* This only takes effect in md and lg screens  */
        #share_first_line{
            margin-top: 25%;
            font-size: 20pt;
        }
        #share_second_line{
            font-size: 20pt;
        }
    }
</style>

