<!------------------------- Value proposition -------------------------->
<div class="row">
    <div class="col">
        <p class="h2 font-weight-bold text-center" id="proposition_question">Why Svelar?</p>
        <p class="h4 text-center" id="proposition_answer">It is a single platform to find everything you need.</p>
    </div>
</div>
<div class="row" id="value_propositions">
    <div class="col" id="value_proposition_item">
        <img id="image_proposition" class="img-fluid float-right" alt="Responsive image" src="/images/style/easy_access_icon.png" />
    </div>
    <div class="col" id="value_proposition_item">
        <h2>Access</h2>
        <h5>Discover things that will make your life easier</h5>
    </div>
    <div class="col" id="value_proposition_item">
        <img  id="image_proposition" class="img-fluid float-right" alt="Responsive image" src="/images/style/reliable_icon.png" />
    </div>
    <div class="col" id="value_proposition_item">
        <h2>Reliable</h2>
        <h5>All information is verified</h5>
    </div>
    <div class="col" id="value_proposition_item">
        <img id="image_proposition" class="img-fluid float-right" alt="Responsive image" src="/images/style/review_icon.png" />
    </div>
    <div class="col" id="value_proposition_item">
        <h2>Share</h2>
        <h5>Help others based on your experiences</h5>
    </div>
</div>

<!------------------------ Value proposition -------------------->
<style>
    #proposition_question{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #proposition_answer{
        color: #f15a22;
        margin-bottom: 2em;
    }
    #image_proposition{
        min-width: 90px;
        max-width: 120px;
    }
    #value_proposition_item{
        margin-bottom: 1em;
    }
    #value_propositions h2{
        color: #f15a22;
    }

</style>