<p>
    Comfort:
    <% if(Math.round(stuff[i].average_rating_1)== 0){ %>
    <span id="starts">☆ ☆ ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_1)== 1){ %>
    <span id="starts">&#9733 ☆ ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_1)== 2){ %>
    <span id="starts">&#9733 &#9733 ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_1)== 3){ %>
    <span id="starts">&#9733 &#9733 &#9733 ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_1)== 4){ %>
    <span id="starts">&#9733 &#9733 &#9733 &#9733 ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_1)== 5){ %>
    <span id="starts">&#9733 &#9733 &#9733 &#9733 &#9733</span>
    <%}%>
    <br>
    Easyness:
    <% if(Math.round(stuff[i].average_rating_2)== 0){ %>
    <span id="starts">☆ ☆ ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_2)== 1){ %>
    <span id="starts">&#9733 ☆ ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_2)== 2){ %>
    <span id="starts">&#9733 &#9733 ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_2)== 3){ %>
    <span id="starts">&#9733 &#9733 &#9733 ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_2)== 4){ %>
    <span id="starts">&#9733 &#9733 &#9733 &#9733 ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_2)== 5){ %>
    <span id="starts">&#9733 &#9733 &#9733 &#9733 &#9733</span>
    <%}%>
    <br>
    Cost:
    <% if(Math.round(stuff[i].average_rating_3)== 0){ %>
    <span id="starts">☆ ☆ ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_3)== 1){ %>
    <span id="starts">&#9733 ☆ ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_3)== 2){ %>
    <span id="starts">&#9733 &#9733 ☆ ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_3)== 3){ %>
    <span id="starts">&#9733 &#9733 &#9733 ☆ ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_3)== 4){ %>
    <span id="starts">&#9733 &#9733 &#9733 &#9733 ☆</span>
    <%}%>
    <% if(Math.round(stuff[i].average_rating_3)== 5){ %>
    <span id="starts">&#9733 &#9733 &#9733 &#9733 &#9733</span>
    <%}%>
</p>